/** 如果需要覆盖框架样式变量写在这里 */

// 按钮文字大小
.van-button--normal .van-button__text {
  font-size: 32px !important;
}

.van-button--small .van-button__text {
  font-size: 30px !important;
}

// 复选框文字大小
.van-checkbox__label {
  font-size: 35px !important;
}
